.footer {
    width: 100%;
min-height: 500px;
margin: 0;
padding: 80px 0 0;
float: left;
background: #1a3b51;
position: relative;
}

.footer2{
    max-width: 1300px !important;
}

.vos{
    width: 75%;
    max-width: 100%;
}

.list{
    /* float: left; */
    display: inline-block;
margin: 0;
padding: 10px 15px;
color: #fff;
font-size: 18px;
border-bottom: 2px solid;
    border-bottom-color: currentcolor;
border-color: #1a3b51;
}

.ul{
    list-style-type: none;
}

.imgs2{
    max-width: 28px;
}

.btn2{
    border: 1px solid #2680eb !important;
color: #fff !important;
background: #2680eb;
text-decoration: none;
}

.text{
    text-align: center;
color: #6a6c6e;
font-size: 23px;
padding-bottom: 50px;
}