

.side1{
    font-size: 45px;
    /* margin: 0; */
   
    padding: 30px 0 35px;
    font-weight: 700;
    color: black;
}

.side2{
    font-size: 24px;
/* margin: 0; */
padding: 0 0 35px;
color: black;
}

.img{
    /* width: 100%;
position: relative;
margin-top: -70px;
margin-left: -90px;
animation: 3s ease-out infinite; */
width: 100%;
margin: 0;
padding: 0;
float: left;
}

.imgs{
    width: 120%;
position: relative;
margin-top: -70px;
margin-left: -90px;
animation: float 3s ease-out infinite;
}